.container{
  width: 100%;
  background-color: #CFCFCF;
  height: 58px;
  padding: 8px;
  position: absolute;
}

.buttonContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 48px;
}